* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8f5e9;
}

h2 {
    color: red;
    background-color: #3a7ca5;
    padding: 10px 5px;
}

.mensaje-turno {
    text-align: center;
    padding: 15px 10px;
    background-color: #3a7ca5;
    font-size: 26px;
}